---
const { title = undefined } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/skylerriggle/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Skyler Riggle{title === undefined ? "" : ` | ${title}`}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
